.a{
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.a-right{
    flex: 1;
}

.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.a-card.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: darkslategray;
}

.a-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-award-img{
    width: 600px;
    height: 600px;
    border-radius: 20px;
}

.a-title{
    font-weight: 400;
    color: darkslategray
}

.a-sub{
    margin: 20px 0px;
}

.a-desc{
    font-weight: 300;
    width: 60%;
}

.a-award{
    margin-top: 50px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
}

.a-awards-texts{
    width: 40%;
}

.a-award-title{
    font-weight: bold;
    color: darkslategray;
    margin-bottom: 10px;
}

.a-award-desc{
    width: 80%;
}

@media screen and (max-width: 480px){
    .a{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-top: 50px;
    }

    .a-left{
        width: 100%;    
    }

    .a-card{
        height: 30vh;
    }

    .a-card.bg{
        display: none;
    }

    .a-right{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .a-desc{
        width: 100%;
        text-align: center;
    }

    .a-award{
        display: none;
    }

}